.student-base {
  text-align: center;

  padding: 200px 25px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.student-base h5 {
  color: #fff;
  visibility: hidden;
}

.student-base p {
    color: #fff;
    visibility: hidden;
  }

  .student-base p {
    color: #fff;
    visibility: hidden;
  }

  .student-base .email {
    color: #fff;
    visibility: hidden;
  }

.student-base:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(163, 155, 251, 0.3);
 
}
.student-base:hover h5 {
  color: #fff;
  visibility: visible;
  
}

.student-base:hover p {
    color: #fff;
    visibility: visible;
    
  }

  .student-base:hover .email {
    color: #fff;
    visibility: visible;
  }

.title { 
    color: white;
}

/* Begin Executive Board */

.student-one { 
    background: url(../img/team/Vinayak.jpg) center;
}

.student-one:hover {
  background-color:#000;
  opacity:0.7;
}

.student-two { 
    background: url(../img/team/Ben.jpg) center;
    background-position-y: -40px;
    background-position-x: -60px;
}

.student-three { 
    background: url(../img/team/Harpreet.jpg) center; 
    background-position-y: -30px;
}

.student-four { 
  background: url(../img/team/Gurleen.jpg) center; 
  background-position-y: -110px;
  background-position-x: -65px;
}

.student-five { 
  background: url(../img/team/Vichu.jpg) center; 
  background-position-y: -65px;
  background-position-x: -55px;
  filter: brightness(105%);
}

.student-six { 
  background: url(../img/team/Natalie.jpg) center; 
  background-position-y: -80px;
  background-position-x: -70px;
  filter: brightness(110%);
}

.student-seven { 
  background: url(../img/team/Will.jpg) center; 
  background-position-y: -80px;
  background-position-x: -50px;
  filter: brightness(110%);
}

/* End Executive Board */

.student-eight { 
  background: url(../img/team/Nina.jpg) center; 
  background-position-x: -70px;
}

.student-nine { 
  background: url(../img/team/Daniel.jpg) center; 
  background-position-y: -80px;
  background-position-x: -70px;
}


.student-nine { 
  background: url(../img/team/Daniel.jpg) center; 
  background-position-y: -80px;
  background-position-x: -70px;
}

.student-ten { 
  background: url(../img/team/Nick.jpg) center; 
  background-position-y: -40px;

}

.student-eleven { 
  background: url(../img/team/Nathan.jpg) center; 
  background-position-y: -10px;
  background-position-x: -10px;
}

.student-twelve { 
  background: url(../img/team/Zoe.jpg) center; 
  background-position-y: -90px;
  background-position-x: -70px;
}

.student-thirteen {
  background: url(../img/team/Jonah.jpg) center; 
  background-position-y: -40px;
  background-position-x: -45px;
  
}

.student-fourteen {
  background: url(../img/team/Pratix.jpg) center; 
  background-position-y: -90px;
  background-position-x: -45px;
  filter: brightness(105%);
  
}

.student-fifteen { 
  background: url(../img/team/Jenni.jpg) center; 
  background-position-y: -80px;
  background-position-x: -75px;
  filter: brightness(105%);

}

.student-sixteen { 
  background: url(../img/team/Praj.jpg) center; 
  background-position-y: -50px;
  background-position-x: -25px;
  filter: brightness(105%);

}

.student-seventeen { 
  background: url(../img/team/Kendall.jpg) center; 
  background-position-y: -50px;
  background-position-x: -25px;
  filter: brightness(105%);

}

.student-eighteen { 
  background: url(../img/team/Ashish.jpg) center; 
  background-position-y: -80px;
  background-position-x: 0px;
  filter: brightness(105%);

}

.student-nineteen { 
  background: url(../img/team/Hunter.jpg) center; 
  background-position-y: -35px;
  background-position-x: -20px;
  filter: brightness(105%);

}

.student-twenty { 
  background: url(../img/team/Emily.jpg) center; 
  background-position-y: -80px;
  background-position-x: -40px;
  filter: brightness(105%);

}

.student-twenty-one { 
  background: url(../img/team/Ashley.jpg) center; 
  background-position-y: -70px;
  background-position-x: -55px;
  filter: brightness(105%);

}

.student-twenty-two { 
  background: url(../img/team/Justin.jpg) center; 
  background-position-y: -65px;
  background-position-x: -30px;
  filter: brightness(105%);

}

.student-twenty-three { 
  background: url(../img/team/Amogh.jpg) center; 
  background-position-y: -115px;
  background-position-x: -50px;
  filter: brightness(105%);

}

.student-twenty-four { 
  background: url(../img/team/Daksh.jpg) center; 
  background-position-y: -80px;
  background-position-x: -70px;
  filter: brightness(105%);

}

.student-one:hover {
  background-color:#000;
  opacity:0.7;
}

.student-two:hover {
  background-color:#000;
  opacity:0.7;
}

.student-two:hover {
  background-color:#000;
  opacity:0.7;
}

.student-three:hover {
  background-color:#000;
  opacity:0.7;
}

.student-four:hover {
  background-color:#000;
  opacity:0.7;
}

.student-five:hover {
  background-color:#000;
  opacity:0.7;
}

.student-six:hover {
  background-color:#000;
  opacity:0.7;
}

.student-seven:hover {
  background-color:#000;
  opacity:0.7;
}

.student-eight:hover {
  background-color:#000;
  opacity:0.7;
}

.student-nine:hover {
  background-color:#000;
  opacity:0.7;
}

.student-ten:hover {
  background-color:#000;
  opacity:0.7;
}

.student-eleven:hover {
  background-color:#000;
  opacity:0.7;
}

.student-twelve:hover {
  background-color:#000;
  opacity:0.7;
}

.student-thirteen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-fourteen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-fifteen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-sixteen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-seventeen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-eighteen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-nineteen:hover {
  background-color:#000;
  opacity:0.7;
}

.student-twenty:hover {
  background-color:#000;
  opacity:0.7;
}

.student-twenty-one:hover {
  background-color:#000;
  opacity:0.7;
}

.student-twenty-two:hover {
  background-color:#000;
  opacity:0.7;
}

.student-twenty-three:hover {
  background-color:#000;
  opacity:0.7;
}

.student-twenty-four:hover {
  background-color:#000;
  opacity:0.7;
}







#team-nav { 
    margin: 20px;
}

#executive-board-title { 
  margin-top: 50px;  
}

#project-managers-title { 
  margin-top: 50px;  
}

#business-analysts-title { 
  margin-top: 50px;  
}



